#fileinput{
    background-color: #f4f4f4;
    margin: 10px;
    padding: 10px;
    border: #ddd dashed 5px;
    min-height: 600px;
    text-align: center;
    width: 1400px;
}

#fileinput img{
    width: 50%;
}

#dragDropArea p{
    color: #999;
    font-weight: bold;
    font-size: 14px;
    font-size: 1.4em;
}
#dragDropArea .drag-drop-buttons{
    margin-top: 20px;
    font-size: 12px;
    font-size: 1.2em;
}
.drag-drop-buttons input{
    margin: auto;
}

#sidebar {
    background-color: #e0e0e0;
    width: 300px;
}

article {
    display: flex;
}